Old_Sessions/Session_1_old/Workflows/Essential Triggers.json
{
  "name": "Essential Triggers",
  "nodes": [
    {
      "parameters": {
        "content": "# Module 7: Essential Triggers\n- Manual Trigger (Execute Workflow)\n- Schedule Trigger\n- Gmail Trigger\n- Google Drive Trigger\n- Google Sheets Trigger\n- On Form Submission Trigger\n",
        "height": 208,
        "width": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        304
      ],
      "id": "3101da02-61d0-4e1f-83e1-2a10e341dd77",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "id": "e714bd4a-b07b-484e-b8ac-c132f22d5efa",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "449fe445-c8f9-435b-9a08-eb6361b79f63",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        272
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "is:unread"
        }
      },
      "id": "b5efbc57-d380-4aa7-9042-cb8b4a0f71b2",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        464
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YgWlh4VCmpscaJ1K",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13386B1cXJ3eZrC1m_7AxhPDcNaT3lOKA",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13386B1cXJ3eZrC1m_7AxhPDcNaT3lOKA"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "b86423df-c753-4c3f-9349-2f4b1656c5a4",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        656
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UM2qhctjaG7wlFRj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1QWSlfEKu63X0T25GP2JlS76tK_qmE8YSFlc2Y3StguY",
          "mode": "list",
          "cachedResultName": "AI email draft assistant - Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QWSlfEKu63X0T25GP2JlS76tK_qmE8YSFlc2Y3StguY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1325903902,
          "mode": "list",
          "cachedResultName": "extract the table",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QWSlfEKu63X0T25GP2JlS76tK_qmE8YSFlc2Y3StguY/edit#gid=1325903902"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "5d42685e-11fc-4b8d-863f-013ee2864f98",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        848
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "Q3Hwq5pbyGfIbfC2",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "trigger_type",
              "value": "Manual",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "triggered_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "description",
              "value": "Manually triggered by user clicking test button",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a3b9a499-ce74-4c11-828f-3e2d0d683e25",
      "name": "Manual Trigger Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "trigger_type",
              "value": "Schedule",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "triggered_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "schedule",
              "value": "={{ $json.schedule || 'Daily at 9:00 AM' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "description",
              "value": "Triggered automatically on schedule",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ba5b2716-34d5-4719-bc5a-5c6d54d68a48",
      "name": "Schedule Trigger Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "trigger_type",
              "value": "Gmail",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "triggered_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "email_from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "email_subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "email_snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "description",
              "value": "Triggered by new unread email",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "75240739-044d-4cfe-8db9-c8cecbaa1fa5",
      "name": "Gmail Trigger Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "trigger_type",
              "value": "Google Drive",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "triggered_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "mime_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "description",
              "value": "Triggered by new file created in Drive",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0883bd14-3d39-4c10-b8f0-962ae94a4904",
      "name": "Google Drive Trigger Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        656
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "trigger_type",
              "value": "Google Sheets",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "triggered_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "row_data",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "id-4",
              "name": "description",
              "value": "Triggered by new row added to sheet",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2e9914e0-abb1-402a-ab0c-32c9867ad3a9",
      "name": "Google Sheets Trigger Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "trigger_type",
              "value": "Form Submission",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "triggered_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "form_name",
              "value": "={{ $json.formName || $json.name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "form_email",
              "value": "={{ $json.formEmail || $json.email }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "form_message",
              "value": "={{ $json.formMessage || $json.message }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "description",
              "value": "Triggered by form submission",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "549a9cd3-2a09-4784-bc6e-11c1126b3e4b",
      "name": "Form Submission Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        1040
      ]
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "id": "da11b680-96fd-48d8-9391-0a00d9350539",
      "name": "Consolidate All Trigger Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        496
      ]
    },
    {
      "parameters": {
        "formTitle": "Test Title",
        "formDescription": "Test Description",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "requiredField": true
            },
            {
              "fieldLabel": "email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "message",
              "fieldType": "textarea"
            },
            {}
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -80,
        1040
      ],
      "id": "07faad56-6545-472c-b546-d9ce84e88403",
      "name": "On Form Submission Trigger1",
      "webhookId": "b9bee3b3-474d-4441-b798-5e9c2a63cbb3"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Manual Trigger Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Schedule Trigger Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Gmail Trigger Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive Trigger Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets Trigger Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger Data": {
      "main": [
        [
          {
            "node": "Consolidate All Trigger Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Data": {
      "main": [
        [
          {
            "node": "Consolidate All Trigger Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gmail Trigger Data": {
      "main": [
        [
          {
            "node": "Consolidate All Trigger Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Drive Trigger Data": {
      "main": [
        [
          {
            "node": "Consolidate All Trigger Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google Sheets Trigger Data": {
      "main": [
        [
          {
            "node": "Consolidate All Trigger Data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Form Submission Data": {
      "main": [
        [
          {
            "node": "Consolidate All Trigger Data",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "On Form Submission Trigger1": {
      "main": [
        [
          {
            "node": "Form Submission Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7316e6f0-1e94-4324-8ef5-4c9896509ef9",
  "meta": {
    "instanceId": "253ebe0fa0889258745727faa7bf3014a33ccdd40ea6f441485c645eb0d410c0"
  },
  "id": "71X5AORC1WGmAWfs",
  "tags": []
}