Session_8/08a_Project_Telegram_AI_Text.json
{
  "name": "Project A - Telegram AI Assistant (Text)",
  "nodes": [
    {
      "parameters": {
        "content": "## 🎯 Capstone A — Telegram AI Assistant (Text)\n\n**Flow:**\n1. User sends text in Telegram.\n2. AI Agent processes it with Window Buffer Memory (last 10 turns per chat).\n3. Agent replies in the same language.\n\n**Why memory matters:**\nWithout memory, every message is treated as a brand-new conversation. The user says \"my name is Mohammad\" → next message they ask \"what's my name?\" → bot has no idea.\n\n**Session key:** `chat.id` — each Telegram chat gets its own memory.\n\n**Real-world parallel:**\nMagnetor-assistant-project-v1.0 — production Telegram assistant with memory.",
        "height": 480,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-680, -300],
      "typeVersion": 1,
      "id": "cap-text-note-001",
      "name": "Lesson Note"
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-160, 0],
      "id": "cap-text-trigger",
      "name": "Telegram Trigger",
      "webhookId": "tg-ai-assistant-text"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [80, 0],
      "id": "cap-text-if",
      "name": "Has Text?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a friendly, helpful Telegram assistant.\n\nRules:\n- Always reply in the SAME language as the user's last message (English or Arabic).\n- Keep replies short and conversational — Telegram is not the place for essays.\n- Remember context from earlier in the conversation.\n- If the user asks something you genuinely don't know, say so honestly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [340, 0],
      "id": "cap-text-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [240, 220],
      "id": "cap-text-model",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=tg-{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [400, 220],
      "id": "cap-text-memory",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 0],
      "id": "cap-text-send",
      "name": "Send Reply"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Please send a text message — I don't handle media yet. Try the voice capstone for voice notes!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [340, 220],
      "id": "cap-text-fallback",
      "name": "Send Fallback"
    },
    {
      "parameters": {
        "content": "### ⚠️ Important — sessionKey per chat\n\n`tg-{{ chat.id }}` is what makes the memory per-conversation. If you hardcode a sessionKey, ALL users share the same memory and conversations bleed into each other.\n\nFor groups, you might want `tg-{{ chat.id }}-{{ from.id }}` so each user has their own memory inside the group.",
        "height": 280,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [340, 460],
      "typeVersion": 1,
      "id": "cap-text-note-mem",
      "name": "Memory Rule"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Has Text?", "type": "main", "index": 0 }]]
    },
    "Has Text?": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }],
        [{ "node": "Send Fallback", "type": "main", "index": 0 }]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Window Buffer Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
