Old_Sessions/Session_2_old/Error Handling & Debugging.json
{
  "name": "Error Handling & Debugging",
  "nodes": [
    {
      "parameters": {
        "content": "## 1) Retry when Failure\n### Description:\n- We tell it to re-run X amount of times before it stops",
        "height": 288,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        160
      ],
      "id": "8986ad4b-9870-46c1-b812-6d4f174246cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        272
      ],
      "id": "c28f8127-62a3-4d63-99b4-f05ae1bc5e56",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 2) Continue when Failed\n### Definition: \n- We allow the workflow to continue even if it fails",
        "height": 352,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        464
      ],
      "id": "52b5364a-7c60-4fac-b89a-da6c47161024",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "https://dog.ceo/api/breeds/image/random(this is wrong)",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        288
      ],
      "id": "e6708ed0-676a-4286-98bb-ec3f4120d21f",
      "name": "Get-Random-Dogs",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://dog.ceo/api/breeds/image/random(this is wrong)",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        624
      ],
      "id": "c34f69ee-0188-4840-92dc-39bd958ccc0b",
      "name": "Get-Random-Dogs1",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d436c37-b2e4-48a3-8c61-99b59992921a",
              "name": "URL",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        272
      ],
      "id": "d57b82ed-e0ee-4af4-9bc6-38ced4f6ce65",
      "name": "Get-URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d436c37-b2e4-48a3-8c61-99b59992921a",
              "name": "URL",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        608
      ],
      "id": "f95548e5-31a7-4a15-9049-7c6989ebe8b0",
      "name": "Get-URL1"
    },
    {
      "parameters": {
        "url": "https://dog.ceo/api/breeds/image/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "72c3a357-a941-4a82-a666-8e5598b1ee63",
      "name": "Get-Random-Dogs2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## 3) Split error Route\n### Definition\n- We give it a route to go when it fails",
        "height": 400,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        832
      ],
      "id": "ad4c138c-8a54-42cd-9b5b-e7d95b481a70",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d436c37-b2e4-48a3-8c61-99b59992921a",
              "name": "URL",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        896
      ],
      "id": "4c2b4d1a-31e9-448d-beb0-446ed85c1df3",
      "name": "Get-URL2"
    },
    {
      "parameters": {
        "sendTo": "imoh40398@gmaiil.com",
        "subject": "Error",
        "emailType": "text",
        "message": "={{ $json.error.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        176,
        1072
      ],
      "id": "fa341d4d-f91d-4efc-a619-ff879080387b",
      "name": "Send a message",
      "webhookId": "38b06588-40ca-4425-8346-0481ef9c31ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "YgWlh4VCmpscaJ1K",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## 4) Fallback AI Agent LLM\n### Definition\n- If one LLM doesn't work, we can use another one as backup",
        "height": 496,
        "width": 736,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        1248
      ],
      "id": "4af75ed0-6984-47a6-937f-18d1e41fa571",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        1408
      ],
      "id": "c7977995-269c-4b34-800b-c6b288e68105",
      "name": "When chat message received",
      "webhookId": "250262a6-e31c-4719-afb3-a2abbf9896ae",
      "disabled": true
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        1408
      ],
      "id": "9e09c89d-22b7-47ea-af7a-b28e2194eaab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -144,
        1584
      ],
      "id": "1546223c-1444-4097-8e1e-a79e0b547ad3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gOD42GO0iu9YdSwi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        1600
      ],
      "id": "1e341e83-ff7b-41be-906f-d1ada19bdcbb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WioUbbLpRWXE7iDC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 5) Error Workflow\n### Definition\n- We set up a new workflow for incoming errors from other workflows",
        "height": 512,
        "width": 736,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        1760
      ],
      "id": "bf686130-5be3-4a6c-abb0-09a567eeeb76",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "https://dog.ceo/api/breeds/image/random(this is wrong)",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        1888
      ],
      "id": "ea0debd2-341f-4ab4-bf42-f6d77c593473",
      "name": "Get-Random-Dogs4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d436c37-b2e4-48a3-8c61-99b59992921a",
              "name": "URL",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1888
      ],
      "id": "bc04481e-bb02-4de1-b76a-7c396c62d4d2",
      "name": "Get-URL3"
    },
    {
      "parameters": {
        "url": "https://dog.ceo/api/breeds/image/random(this is wrong)",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        976
      ],
      "id": "b80aaf3d-8dda-4d59-ab95-0bcad46e2617",
      "name": "Get-Random-Dogs6",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        1888
      ],
      "id": "59e2d69a-0fce-4793-b80a-a1832c01d23d",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        16,
        2080
      ],
      "id": "1c6b08d2-089a-4109-a7e6-4bbd0dda7522",
      "name": "Error Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get-Random-Dogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-Random-Dogs": {
      "main": [
        [
          {
            "node": "Get-URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-Random-Dogs1": {
      "main": [
        [
          {
            "node": "Get-URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Get-Random-Dogs4": {
      "main": [
        [
          {
            "node": "Get-URL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-Random-Dogs6": {
      "main": [
        [
          {
            "node": "Get-URL2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get-Random-Dogs4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6c3b113b-6b53-45e5-8e8e-d70f47cf2dab",
  "meta": {
    "instanceId": "253ebe0fa0889258745727faa7bf3014a33ccdd40ea6f441485c645eb0d410c0"
  },
  "id": "8cDpOfn0cGRYbZN9",
  "tags": []
}