Session_5/workflows/02-Setup-Google-Credentials.json
{
  "name": "02 - Setup Google Credentials",
  "nodes": [
    {
      "parameters": {
        "content": "## How to Setup Google Credentials in n8n\n\n### 1. Create a Google Cloud Console project\n- Go to console.cloud.google.com\n- New Project → name it (e.g. n8n-course)\n\n### 2. Enable the APIs you need\n- APIs & Services → Library\n- Enable: Google Sheets API, Google Drive API, Gmail API, Google Docs API\n\n### 3. Configure OAuth Consent Screen\n- User type: External\n- Fill app name, support email, developer email\n- Scopes: leave default for now\n- Test users: ADD YOUR EMAIL (critical!)\n\n### 4. Create OAuth Client Credentials\n- Credentials → Create → OAuth Client ID\n- Application type: Web Application\n- **Authorized redirect URI:** copy the EXACT URL from n8n credential screen\n  (one wrong character = invalid_request error)\n\n### 5. Publish App (Audience)\n- Audience tab → Publish App\n- Otherwise refresh tokens expire after 7 days\n\n### 6. Finish n8n credential\n- Paste Client ID + Client Secret\n- Click Sign in with Google\n- Approve scopes\n\n### Common Gotchas\n- Redirect URI must match EXACTLY (https, trailing slash, path)\n- App stuck in Testing → only test users can sign in\n- Wrong scopes → 403 on certain operations\n- Trailing whitespace when pasting Client ID/Secret",
        "height": 880,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-368, -160],
      "id": "sticky-guide",
      "name": "Setup Guide"
    },
    {
      "parameters": {
        "content": "### Test Your Credential\n\nOnce your Google credential is set up, click Execute to test it.\n\nThis will append a test row to a Google Sheet you control.\n\nIf it works → your credential is good. ✅\nIf it errors → check the gotchas on the left.",
        "height": 320,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [432, -160],
      "id": "sticky-test",
      "name": "Test Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [432, 224],
      "id": "trigger",
      "name": "Click to Test"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "a1", "name": "timestamp", "value": "={{ $now.toISO() }}", "type": "string"},
            {"id": "a2", "name": "student", "value": "Your Name Here", "type": "string"},
            {"id": "a3", "name": "test_status", "value": "credential works!", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 224],
      "id": "set-data",
      "name": "Build Test Row"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"__rl": true, "value": "REPLACE_WITH_YOUR_SHEET_ID", "mode": "list"},
        "sheetName": {"__rl": true, "value": "gid=0", "mode": "list"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "student": "={{ $json.student }}",
            "test_status": "={{ $json.test_status }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "timestamp", "displayName": "timestamp", "type": "string", "display": true, "required": false, "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "student", "displayName": "student", "type": "string", "display": true, "required": false, "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "test_status", "displayName": "test_status", "type": "string", "display": true, "required": false, "defaultMatch": false, "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [848, 224],
      "id": "sheets-test",
      "name": "Append Test Row"
    }
  ],
  "connections": {
    "Click to Test": {"main": [[{"node": "Build Test Row", "type": "main", "index": 0}]]},
    "Build Test Row": {"main": [[{"node": "Append Test Row", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
